<!DOCTYPE html>
<html>
<head>
	<title>gitStarted</title>
    <link rel="icon" href="pictures/icon.ico">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<link rel="stylesheet" href="main.css" />
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300|Rancho' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="background-image"></div>
	<div class="user_image">
		<a href="{{github_profile_url}}" target="_blank"><img src="{{avatar_url}}"></a>
	</div>
	<div class="titlePage">
        <div>
            <center><img class="headerTitle" src="pictures/logo.png"/></center>
        </div>
        <div class="changingDiv">
        	
            <center>
                <h2 style = "padding-top:5vh" class = "description-text">Hello {{username}}! Let's get your repository set up.</h2>
                <h2 class="loginTitle">Setup Repository</h2>
                 <form class="gitrepo_field" method="post" action="/modules">
                    <input id="git_reponame" name="git_reponame" class="username" placeholder="Repository Name">
                    <input id="git_contributors" name="git_contributors" class="password" placeholder="Contributors">
                     <input id="git_description" name="git_description" class="username" placeholder="Repository Description">
                  
                     
                     <center>
                        <h1 class="loginTitle">Front End</h1>
                            <form class="frontend_setup" method="post" action="frontendSetup">
                                <input type="checkbox" name="JQuery" value="JQuery" id="check1"/><label for="check1"><span></span> JQuery <img src="pictures/jquery.png" class="smallLogo"/></label><br>
                                <input type="checkbox" name="Bootstrap" value="Bootstrap" id="check2"/><label for="check2"><span></span> Bootstrap<img src="pictures/boot.png" class="smallLogo"/></label><br>
                                <input type="checkbox" name="Font Awesome" value="FA" id="check3"/><label for="check3"><span></span> Font Awesome <img src="pictures/FA.png" class="smallLogo"/></label><br>
                            <h1 class="loginTitle">Back End</h1>
                                <input type="radio" name="dev" value="JQuery" id="radio1"><label for="radio1"><span></span>Gulp <img src="pictures/Gulp.png" class="smallLogo"/></label>
                                <input type="radio" name="dev" value="Bootstrap" id="radio2"><label for="radio2"><span></span>Grunt <img src="pictures/Grunt.png" class="smallLogo"/></label>
                                <input type="radio" name="dev" value="FA" id="radio3"><label for="radio3"><span></span>Neither <img src="pictures/Sad.png" class="smallLogo"/></label><br>
                            </form>
                        </center>
					<h2 class="description-text">Choose which modules you want</h2>
                    <ul>
                    	{{#node_modules}}
						<li class="popular_modules"><label for="{{name}}"><input type="checkbox" id="{{name}}" name="modules" value="{{name}}?{{version}}"/><a target="_blank" href="http://npmjs.com{{url}}">{{name}}</a><p>{{desc}}</p></label></li>
						{{/node_modules}}
					</ul>
				</form>
				<form method="post" id="search_modules_form"  action="/searchModules">
						<input type="text" id="search_modules_input" name="searchModules">
						<button type="submit">Search</button>
					
					<div id="search_module_results">
						
					</div>

					<button type="submit">Do it</button>
				</form>
				<form method="post" id="make-it-happen-form" action="/gitStarted">
					<input type="hidden" name="message" value="hello!">
					<button class="submitButton" id="make-it-all-happen" type="submit">MAKE IT HAPPEN!</button>
				</form>
            </center>
        </div>
    </div>
	<script>
		$(document).ready(function() {
			var $search_modules_results = $("#search_module_results");
			var $search_modules_form = $("#search_modules_form");
			console.log($('#search_modules_input').val());
			$search_modules_form.on('submit', function(e) {
				e.preventDefault();
				$search_modules_results.empty();
				$.ajax({
					url:'/searchModules',
					data:{
						searchModules:$('#search_modules_input').val()
					},
					method:'post'
				}).done(function(data) {
					if (data) {
						$search_modules_results.html(data);
						$('#search_result_list_item > input').on('change', function() {
							if (this.checked) {
								// console.log("You want this one.");
								$(this.parentNode).addClass("added-module");
							} else {
								$(this.parentNode).removeClass("added-module");
							}
						});
					}
				});
			});
			
			$('li.popular_modules > label').each(function() {
				$(this).bind('click', function(e) {
					e.stopPropagation();
					if ($(this).find('input').is(':checked')) {
						$(this).addClass("added-module");
					} else {
						$(this).removeClass("added-module");
					}
				});
			});

			$('#make-it-happen-form').on('submit', function(e) {
				e.preventDefault();
				var repoName = $('#git_reponame').val();
				var contributors = $('#git_contributors').val();
				var desc = $('#git_description').val();
				var tempModules = $('li.popular_modules > label > input[type=checkbox]:checked');
				var modules = [];
				console.log(tempModules);
				if (tempModules.length > 0) {
					for (var i = 0; i < tempModules.length; i++) {
						var info = $(tempModules[i]).val();
						info = info.split("?");
						modules.push({
							"name":info[0],
							"version":info[1]
						});
					}
				}
				$.ajax({
					url:'/gitStarted',
					data:{
						repoName:repoName,
						contributors:contributors,
						desc:desc,
						modules:modules
					},
					method:'post'
				}).done(function(data) {
					console.log(data);
					if (data) {
						$search_modules_results.html(data);
						$('#search_result_list_item > input').on('change', function() {
							if (this.checked) {
								// console.log("You want this one.");
								$(this.parentNode).addClass("added-module");
							} else {
								$(this.parentNode).removeClass("added-module");
							}
						});
					}
				});
			});
		});
	</script>
</body>
</html>