<!DOCTYPE html>
<html>
<head>
    <title>Hackstarter!</title>
    <!-- CSS -->
    <link rel="stylesheet" href="main.css" />
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300|Rancho' rel='stylesheet' type='text/css'>
</head>
<body>
	 <div class="titlePage">
        <div class="nameDiv">
            <center><h1 class="headerTitle">Hackstarter</h1></center>
        </div>
        <div class="changingDiv">
            <center>
                <h1 class="loginTitle">GitHub Login</h1>
                <div class="gitlogin_field">
                    <input id="git_user" name="git_user" class="username" placeholder="Username">
                    <input id="git_pass" name="git_pass" class="password" type="password" placeholder="Password">
                    <a id="submit_image_button" class="">Submit</a>
                </div>
            </center>
        </div>
    </div>
</body>
</html>