<!DOCTYPE html>
<html>
<head>
    <title>gitStarted</title>
    <!-- CSS -->
    <link rel="stylesheet" href="main.css" />
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300|Rancho' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="background-image"></div>
	 <div class="titlePage">
        <center>
        <div>
            <center><img class="mainTitle" src="pictures/logo2x.png"/></center>
        </div>
        <div>
         <p class="description-text">Get your repositories set up in no time.</p>
        </div>
        <div style = "padding-top:10vh">
            <a class="submitButton" href="/GitLogin">Git Started!</a>
         </div>
        </center>
    </div>
</body>
</html>