<!DOCTYPE html>
<html>
<head>
    <title>Quit Slackin' Git Started</title>
    <!-- CSS -->
    <link rel="stylesheet" href="main.css" />
</head>
<body>
	 <div class="titlePage">
        <center>
        <div class="nameDiv">
            <center><h1 class="mainTitle">Name    </h1></center>
        </div>
     
            <h3>Quit <i>Slackin'</i> <i>Git</i> Started</h3>
            <div class="description">stuff and things and explanations</div>
            
            <a class="startButton" href="#secondPage"> Let's Git Started!</a>
        </center>
    </div>
    <div id="secondPage" name="secondPage" class="secondPage">
        <div class="banner">
            <div class="bannerLogo">
                
            </div>
        </div>
    <a href="/slack">Content</a>
    </div>

	
</body>
</html>