<!DOCTYPE html>
<html>
<head>
    <title>Quit Slackin' Git Started</title>
    <!-- CSS -->
    <link rel="stylesheet" href="main.css" />
</head>
<body>
	 <div class="titlePage">
        <center>
        <div class="nameDiv">
            <center><h1 class="mainTitle">Name    </h1></center>
        </div>
     
            <img src="pictures/logo.png" class="titlePageSlogan">
            <div class="description">stuff and things and explanations</div>
            
            <a class="startButton" href="#secondPage"> Let's Git Started!</a>
        </center>
    </div>
    <div id="secondPage" name="secondPage" class="secondPage">
        <div class="banner">
            <div class="bannerLogo">
               <center><img src="pictures/logo.png" class="bannerLogo"> </center>
            </div>
        </div>
        <div class="changingDiv">
            <a href="/slack">Content</a>
            <center>
                <h1 class="loginTitle">GitHub Login</h1>
                <div class="gitlogin_field">
                    <input id="git_user" name="git_user" class="username" placeholder="Username">
                    <input id="git_pass" name="git_pass" class="password" type="password" placeholder="Password">
                    <a id="submit_image_button" class="">Submit</a>
                </div>
            </center>
        </div>
    </div>

	
</body>
</html>