<!DOCTYPE html>
<html>
<head>
    <title>gitStarted</title>
    <link rel="icon" href="pictures/icon.ico">
    <!-- JS -->
    <script src="react.min.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="main.css" />
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300|Rancho' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="git_image">
		<a href="https://github.com/zackharley/QHacks" target="_blank"><img src="pictures/github.png"></a>
		<img src="pictures/point.png">
	</div>
    <div class="background-image"></div>
	 <div class="titlePage">
        <div class="container">
            <div class="container-content">
            	<h3 class="login-header">Register</h3>
                <div id="app"></div>
                <script src="register.js"></script>
            </div>
        </div>
    </div>
</body>
</html>