@font-face {
	    font-family: 'Righteous';
		src: url('fonts/Righteous.woff') format('woff');
}

body {
    background-image: url("pictures/mainsplash.png");
	background-size: 100vw 100vh;
	background-attachment: ;
	background-repeat: no-repeat;
	font-size:4vh;
}

.titlePage {
    height: 80vh;
    padding-top: 20vh;
}

.secondPage {
    height: 100vh;
}

.mainTitle{
    margin: 0vh 0vh 20vh 0vh;
}

.nameDiv {
    
    
}

.description {
    
}

.startButton {
    margin: 10vh;
    border-color: azure;
    border-radius: 3vh;
}
